.start-now-button {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b9ce44+0,a8c732+10,8eb92a+48,72aa00+48,94c516+98,94c516+98 */
	background: rgb(185,206,68); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(185,206,68,1) 0%, rgba(168,199,50,1) 10%, rgba(142,185,42,1) 48%, rgba(114,170,0,1) 48%, rgba(148,197,22,1) 98%, rgba(148,197,22,1) 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(185,206,68,1) 0%,rgba(168,199,50,1) 10%,rgba(142,185,42,1) 48%,rgba(114,170,0,1) 48%,rgba(148,197,22,1) 98%,rgba(148,197,22,1) 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(185,206,68,1) 0%,rgba(168,199,50,1) 10%,rgba(142,185,42,1) 48%,rgba(114,170,0,1) 48%,rgba(148,197,22,1) 98%,rgba(148,197,22,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9ce44', endColorstr='#94c516',GradientType=0 ); /* IE6-9 */
	border-radius: @button-success-border-radius;
	box-shadow: @button-success-box-shadow;
	color: @button-success-color;
	display: block;
	font-size: @button-success-font-size;
	height: @button-success-height;
	line-height: @button-success-line-height;
	margin: 0 auto;
	text-decoration: none;
	.transition (all .1s ease-in-out);
	max-width: 100%;
	min-width: 320px;
	border: 1px solid #7fa607;
	display: table;
	&:hover {
		text-decoration: none;
		color: @button-success-color;
	}
}
