.block-skew-shadow, .block-skew-shadow-right {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 320px;
}
.block-skew-shadow, .block-skew-shadow-right {
    position: relative;
    display: flex;
    &:before {
        content: "";
        position: absolute;
        height: 10px;
        width: 30%;
        background: #777;
        bottom: 12px;
        box-shadow: 0 14px 4px rgba(0, 0, 0, 0.2);
        z-index: 0;
        max-width: 480px;
    }
}
.block-skew-shadow {
    &:before {
        left: 20px;
        transform: rotate(-3deg) skewX(-50deg);
    }    
}
.block-skew-shadow-right {
    &:before {
        right: 20px;
        transform: rotate(3deg) skewX(50deg);
    }
}
.slider-wrap {
    overflow: hidden;
    position: relative;
    width: @carousel-slider-wrap-width;
    .pagination-wrap {
        position: absolute;
        bottom: 28px;
        width: 100%;
        .pagination {
            display: table;
            margin: auto;
            .pagination-item {
                height: 11px;
                width: 11px;
                border-radius: 50%;
                background: rgba(0,0,0,0.5);
                margin-right: 8px;
                float: left;
                &.active {
                    border: 2px solid rgba(0,0,0,0.5);
                    width: 7px;
                    height: 7px;
                    background: linear-gradient(to bottom, #ffae02, #ff891f);
                }
            }            
        }
    }
}
.slider {
    position: relative;
    width: @carousel-slider-width;
    img {
        display: block;
        float: left;
        position: relative;
    }
}
.join-as {
    font-size: @carousel-join-as-font-size;
    text-align: center;
    width: @join-us-width;
    padding-bottom: 30px;
    background: #fff;
    border-radius: 4px;
    .join-haeder {
        color: @carousel-slider-color;
        padding: @carousel-join-padding;
        text-align: left;
    }
    .text-info {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin: 20px auto;
        width: 270px;
    }
    .fb-margin {
        margin: 79px auto 0;
    }
}
