@media (max-width: 800px), (max-device-width: 800px) {
    .steps ul li {
        padding-left: 10px;
    }
}
@media (max-width: 767px), (max-device-width: 767px) {
    .slider-wrap {
        display: none;
    }
    .join-as {
        width: 100%;
    }
    .avatar-info {
        width: 100%;
    }
    .user-list {
        float: left;
        max-width: 390px;
        padding: 0;
        width: 100%;
    }
    .column-wrap {
        -moz-column-count: 2;
        -o-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 479px), (max-device-width: 479px) {
    .column-wrap {
        -moz-column-count: 1;
        -o-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

}
